node_modules
dist
npm-debug.log
.DS_Store
.vscode
coverage
ci
yarn.lock
.d.ts
.idea
pkg/__debug_bin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.eslintcache
