version: 2

aliases:
  # Workflow filters
  - &filter-only-master
    branches:
      only: master

defaults: &defaults
  working_directory: ~/plugin
  docker:
    - image: circleci/node:10.16.0-stretch

jobs:
  build_plugin:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
    - run:
        name: Install yarn
        command: |
          sudo npm install -g yarn --quiet
          yarn install --pure-lockfile
    - run:
        name: Run Toolkit Build
        command: npx grafana-toolkit plugin:ci-build
    - save_cache:
        paths:
        - node_modules
        key: yarn-packages-{{ checksum "yarn.lock" }}
    - persist_to_workspace:
        root: .
        paths:
        - ci

  build_docs:
    <<: *defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
    - run:
        name: Install yarn
        command: |
          sudo npm install -g yarn --quiet
          yarn install --pure-lockfile
          mkdir ci # Avoid error if not exists
    - run:
        name: Build Docs
        command: npx grafana-toolkit plugin:ci-docs
    - save_cache:
        paths:
        - node_modules
        key: yarn-packages-{{ checksum "yarn.lock" }}
    - persist_to_workspace:
        root: .
        paths:
        - ci

  build_linux:
    <<: *defaults
    docker:
      - image: golang:1.12.5-stretch
    steps:
    - checkout
    - run:
        name: Build Linux
        command: |
          mkdir -p ./ci/jobs/build_linux
          go build -o ./ci/jobs/build_linux/grafana-azure-data-explorer-datasource_linux_amd64 -a -tags netgo -ldflags '-w' ./pkg
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/build_linux

  build_osx:
    <<: *defaults
    docker:
      - image: golang:1.12.5-stretch
    steps:
    - checkout
    - run:
        name: Build OSX
        command: |
          mkdir -p ./ci/jobs/build_osx
          CGO_CFLAGS=-mmacosx-version-min=10.8 \
          CGO_LDFLAGS=-mmacosx-version-min=10.8 \
          CGO_ENABLED=1 GOOS=darwin \
            go build \
            -installsuffix qt \
            -o ./ci/jobs/build_osx/grafana-azure-data-explorer-datasource_darwin_amd64 \
            -a -tags netgo -ldflags '-w' \
            ./pkg
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/build_osx

  build_win64:
    <<: *defaults
    docker:
      - image: golang:1.12.5-stretch
    steps:
    - checkout
    - run:
        name: Build Windows
        command: |
          mkdir -p ./ci/jobs/build_win64
          CGO_ENABLED=1 GOOS=windows go build -o ./ci/jobs/build_win64/grafana-azure-data-explorer-datasource_windows_amd64.exe -a -tags netgo -ldflags '-w' ./pkg
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/build_win64

  package:
    <<: *defaults
    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
    - run:
        name: Package Distribution
        command: |
          ls -l ci
          ls -l ci/jobs
          ls -l ci/jobs/build_linux
          ls -l ci/jobs/build_osx
          ls -l ci/jobs/build_win64
          ls -l ci/jobs/build_plugin
          ls -l ci/jobs/build_plugin/dist
          cp ci/jobs/build_linux/* ci/jobs/build_plugin/dist
          cp ci/jobs/build_osx/* ci/jobs/build_plugin/dist
          cp ci/jobs/build_win64/* ci/jobs/build_plugin/dist
          npx grafana-toolkit plugin:ci-package
    - persist_to_workspace:
        root: .
        paths:
        - ci
    - store_artifacts:
        path: ci/packages

  test_integration:
    <<: *defaults
    docker:
    - image: circleci/node:10-browsers
    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
    - run:
        name: Setup Grafana (local install)
        command: |
          wget https://dl.grafana.com/oss/release/grafana_6.3.4_amd64.deb
          sudo apt-get install -y adduser libfontconfig1
          sudo dpkg -i grafana_6.3.4_amd64.deb
          sudo apt-get install locate
          sudo updatedb
          sudo locate grafana
          sudo cat /etc/grafana/grafana.ini
          sudo echo ------------------------
          sudo cp ci/grafana-test-env/custom.ini /usr/share/grafana/conf/custom.ini
          sudo cp ci/grafana-test-env/custom.ini /etc/grafana/grafana.ini
          sudo service grafana-server start
          sudo grafana-cli --version
    - run:
        name: Run e2e tests
        command: |
          npx grafana-toolkit plugin:ci-test
    - persist_to_workspace:
        root: .
        paths:
        - ci/jobs/test_integration
    - store_test_results:
        path: ci/jobs/test_integration
    - store_artifacts:
        path: ci/jobs/test_integration

  report:
    <<: *defaults
    steps:
    - checkout
    - attach_workspace:
        at: .
    - restore_cache:
        keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
    - run:
        name: Toolkit Report
        command: npx grafana-toolkit plugin:ci-report
    - store_artifacts:
        path: ci


  publish-github-release:
    working_directory: ~/azure-data-explorer-datasource
    docker:
      - image: cibuilds/github:0.12
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "8b:32:8f:12:97:64:cc:a9:43:9c:5b:c2:9f:66:bd:55"
      - attach_workspace:
          at: .
      - run:
          name: "Publish Release on GitHub"
          command: |
            DATASOURCE_NAME=azure-data-explorer-datasource
            apk add --update --no-cache jq
            RELEASE_NOTES=`awk 'BEGIN {FS="##"; RS=""} FNR==3 {print; exit}' CHANGELOG.md`
            VERSION=`cat dist/plugin.json|jq '.info.version'| sed s/\"//g`
            ls -al
            ls -al ./artifacts
            git config user.email "eng@grafana.com"
            git config user.name "CircleCI Automation"
            git checkout -b release-${VERSION}
            git add --force dist/
            git add artifacts/
            git commit -m "automated release $VERSION [skip ci]"
            git push -f origin release-${VERSION}
            git tag -f v${VERSION}
            git push -f origin v${VERSION}
            ghr \
              -t ${GITHUB_TOKEN} \
              -u ${CIRCLE_PROJECT_USERNAME} \
              -r ${CIRCLE_PROJECT_REPONAME} \
              -c ${CIRCLE_SHA1} \
              -n "${DATASOURCE_NAME} v${VERSION}" \
              -b "${RELEASE_NOTES}" \
              -delete \
              v${VERSION} \
              ./artifacts/


workflows:
  version: 2
  plugin_workflow:
    jobs:
    - build_plugin
    - build_linux
    - build_osx
    - build_win64
    - build_docs
    - package:
        requires:
        - build_plugin
        - build_linux
        - build_osx
        - build_win64
        - build_docs
    - test_integration:
        requires:
        - package
    - report:
        requires:
        - test_integration
    - approve_release:
        type: approval
        requires:
          - report
        filters: *filter-only-master
    - publish_github_release:
        requires:
          - approve_release
        filters: *filter-only-master
