<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword width-9">Database</label>
      <div class="gf-form-select-wrapper gf-form-select-wrapper--caret-indent">
        <select class="gf-form-input min-width-12" ng-model="ctrl.target.database" ng-options="f.value as f.text for f in ctrl.databases"
          ng-change="ctrl.refresh()"></select>
      </div>
    </div>
    <div class="gf-form">
      <div class="width-1"></div>
    </div>
    <div class="gf-form">
      <button class="btn btn-primary width-10" ng-click="ctrl.refresh()">Run</button>
    </div>
    <div class="gf-form">
      <label class="gf-form-label">(Run Query: Shift+Enter, Trigger Suggestion: Ctrl+Space)</label>
    </div>
    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <kusto-monaco-editor content="ctrl.target.query" on-change="ctrl.refresh()" get-schema="ctrl.getSchema()"></kusto-monaco-editor>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword width-7">Format As</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.resultFormat" ng-options="f.value as f.text for f in ctrl.resultFormats"
          ng-change="ctrl.refresh()"></select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label query-keyword" ng-click="ctrl.showHelp = !ctrl.showHelp">
        Show Help
        <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
      </label>
    </div>
    <div class="gf-form" ng-show="ctrl.lastQuery">
      <label class="gf-form-label query-keyword" ng-click="ctrl.showLastQuery = !ctrl.showLastQuery">
        Raw Query
        <i class="fa fa-caret-down" ng-show="ctrl.showLastQuery"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showLastQuery"></i>
      </label>
    </div>
    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <div class="gf-form" ng-show="ctrl.showLastQuery">
    <pre class="gf-form-pre">{{ctrl.lastQuery}}</pre>
  </div>
  <div class="gf-form" ng-show="ctrl.showHelp">
    <pre class="gf-form-pre alert alert-info">
  Format as Table:
  - return any set of columns

  Format as Time series:
  - Requires a column of type datetime
  - returns the first column with a numeric datatype as the value
  - (Optional: returns the first column with type string to represent the series name. If no column is found the column name of the value column is used as series name)

  Example Time Series Query:

  AzureActivity
  | where $__timeFilter()
  | summarize count() by Category, bin(TimeGenerated, 60min)
  | order by TimeGenerated asc

  Macros:
  - $__timeFilter() -&gt; TimeGenerated &ge; datetime(2018-06-05T18:09:58.907Z) and TimeGenerated &le; datetime(2018-06-05T20:09:58.907Z)
  - $__timeFilter(datetimeColumn) -&gt;  datetimeColumn  &ge; datetime(2018-06-05T18:09:58.907Z) and datetimeColumn &le; datetime(2018-06-05T20:09:58.907Z)

  Or build your own conditionals using these built-in variables which just return the values:
  - $__from -&gt;  datetime(2018-06-05T18:09:58.907Z)
  - $__to -&gt; datetime(2018-06-05T20:09:58.907Z)
  - $__interval -&gt; 5m

  Examples:
  - ¡ where $__timeFilter
  - | where TimeGenerated &ge; $__from and TimeGenerated &le; $__to
  - | summarize count() by Category, bin(TimeGenerated, $__interval)
    </pre>
  </div>

  </div>

  <div class="gf-form" ng-show="ctrl.lastQueryError">
    <pre class="gf-form-pre alert alert-error">{{ctrl.lastQueryError}}</pre>
  </div>
</query-editor-row>
